.card {
    position: relative;
}

.card img {
    display: block;
    border: 2px solid;
    border-radius: 10px;
}

.back {
    width: 200px;
    height: 100px;
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.front {
    height: 100px;
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition: 0.2s;
    
}