*{ /*star targets all elements to reset margin and remove whitespace*/
  margin: 0;
  padding: 0;
}


.App{
    height: 100rem;
    background: url("img/AyahBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    object-fit: fill;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  } 

