*{ /*star targets all elements to reset margin and remove whitespace*/
  margin: 0;
  padding: 0;
}


.App {
  background-image: url('./img/AyahBG.jpg');   
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;

  width: 100%;
  height: 100vh;
 
}

